div
{
  width: 300px;
  height: 300px;
  padding: 50px;
  
  border-width: 20px;
  border-color: #f00 #bf0 #0f0 #f00fff;
  border-style: solid;
  
  margin: 30px;
  
  font-family: Open Sans;
  font-weight: bold;

  background-repeat: repeat;
  background-color: rgb(255, 50, 0);
  opacity: 1;
  border-radius: 100px;
  
  text-shadow: 3px 3px 2px purple;

  box-shadow: 50px 50px 1px 2px #000000;
}

div:hover{
  text-decoration: line-through;
  font-family: Arial;
  font-weight: bold;
  color: red;
}






