h1 {
	color:#900;
	border:1px solid #f00;
	padding:10px;
}

#header {
	color:#fff;
	background:#ccc;
	border:1px solid #333;
}

p {
	color:navy;
	border:5px dotted navy;
}

h2 {font-family:"Times New Roman";}
h3 {
	font-family:Arial;
	color:green;
}
h4 {font-family:Verdana;}
h5 {
	font-family:sans-serif;
	color:#9933FF;
	font-size:30px;
}
h6 {
	font-family:"Times New Roman";
	font-size:40px;
}

span {color:green;}

img {
	padding:50px;
	background:#FF0080;
	border:2px dashed #000;
}

.notice {
	background:#FFFF66;
	border:2px solid #FFCC00;
	padding:10px;
}

.warning {
	background:#FFB7B7;
	border:2px solid #FF6262;
	padding:10px;
}