body {
	background:url(../images/bg.png);
	padding:30px;
}

.wrapper {
	background:rgba(256, 256, 256, .8);
	height:1000px;
	padding:30px;
}

header{
	padding:120px 0 15px 0;
	background:#090F0D url('../images/header-bg.jpg') no-repeat;
	margin:0 0 20px 0;
}

nav {
	background:rgba(0, 0, 0, .5);
	padding:10px;
	margin-bottom:20px;
}

a.nav {
	font-family:'Ubuntu Condensed';
	color:#fff;
	font-size:16px;
	padding:5px;
	margin-right:20px;
	text-decoration:none;
	text-transform:uppercase;
}

a.nav:hover {
	background:rgba(256, 256, 256, .7);
	color:#000;
}

article {
	background:rgba(256, 256, 256, .7);
	font-family:'Ubuntu Condensed';
	padding:20px;
	border:1px solid #ccc;
}