div {
	display:block;
	border: 10px solid red;
	width: 300px;
	height: 100px;
	margin: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:right; /* You can change to left to try it out */
}
