 header, section, aside {
  	display:block;
	border: 1px solid red;
	height: 200px;
	box-sizing border-box;
  	background: yellow
}

footer{
	display:block;
	border: 1px solid blue;
	background:green;
	box-sizing border-box;
	height: 100px;
}

section{
  float:left;
  width:65%
}

aside{
 float:right;
 width:34%;
}

